.login-form {
  width: 200px;
  text-align: left;
}

.login-item {
  display: block;
  padding: 3px;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.signup-link {
  cursor: pointer;
  flex-grow: 1;
  font-size: 12px;
  padding: 5px;
}

.google-login {
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: rgb(73, 73, 73);
  background-color: white;
  font-weight: 400;
  width: 210px;
}

.google-login:hover {
  border-color: black;
}