.signup-form {
    width: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
}


.signup-item {
    display: block;
    padding: 3px
}

.submit-button {
    width: auto;
    align-self: center;
    margin-top: 5px;
}

